*{
    text-align: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    background-color:antiquewhite;
    width:auto;
    padding: 20px;
    
}
